.ruler{
    background-color:#3083FF;
    width:100%;
    /*height:10%;*/
    color:#ffffff;
    position: relative;
    float: left;
    left:0;
    top:25%;
    padding:0 0 0 8%;

}

.main{
    /*background-image: linear-gradient(#E6F0FF,#ffffff);*/
    position: relative;
    margin-left:10%;
    margin-top:3%;
    float:left;
    width:100%;
}
.textDeco{
    padding:2% 0 0 0;

}

.main img{
    width:50%;
    height:50%;

}
.main img:hover{
    -webkit-transform:scale(.7);
    -moz-transform:scale(.7);
    -o-transform:scale(.7);
    transform:scale(.7);
    -webkit-transition:transform .5s ease-in-out;
    -moz-transition:transform  .5s ease-in-out;
    -o-transition:transform  .5s ease-in-out;
    transition:transform  .5s ease-in-out;
}
.image1 figcaption{
    opacity:0;
    font-size: .7em;
    padding-left:6%;
    -webkit-transition:opacity .5s ease-in;
    -moz-transition:opacity .5s ease-in;
    -o-transition:opacity .5s ease-in;
    transition:opacity .5s ease-in;
}
.image1:hover figcaption{
    opacity:1;

}
/*.row img{*/
    /*padding:5%;*/
    /*border:1px solid grey;*/
    /*box-shadow: 1px 1px 1px grey;*/
/*}*/
/*.row p{*/
    /*font-size:.8em;*/


/*}*/
@media only screen and (max-width: 480px) {

   .main{
       margin-left:2.5%;
   }

    .main img{

       width:20%;
        height:20%;
    }
}